@using System.Text.Json;
@using basitsatinalimuyg.Entities.Constants;
@model basitsatinalimuyg.Models.ProductViewModel

@{
}

<div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
	<div class="card p-3" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
		<img src=@Model.ImageUrl
			 class="card-img-top"
			 alt=@Model.Name
			 style="max-width: 100%; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);" />
		<div class="card-body">

			<div class="d-flex justify-content-between">
				<p class="small"><a href="#!" class="text-muted">@Model.Category</a></p>
			</div>

			<div class="d-flex justify-content-between mb-4 gap-3">
				<h6 class="mb-0 text-truncate">@Model.Name</h6>
				<div class="d-flex justify-content-end align-items-center gap-1" style="color:#000000;">
					@{
						if (Model.Price?.Currency == CurrencyEnum.TRY)
						{

							<h5 class="text-dark mb-0 my-0">@Model.Price.Amount</h5>
							<i class="fa-solid fa-turkish-lira-sign"></i>
						}
						else if (Model.Price?.Currency == CurrencyEnum.EUR)
						{
							<i class="fa-solid fa-euro-sign "></i>
							<h5 class="text-dark mb-0 my-0">@Model.Price.Amount</h5>

						}
						else
						{
							<i class="fa-solid fa-dollar-sign"></i>
							<h5 class="text-dark mb-0 my-0">@Model.Price?.Amount</h5>
						}

					}
				</div>
			</div>


			<div class="d-flex justify-content-between align-items-center">
				<p class="text-muted mb-0">Available: <span class="fw-bold">@Model.Stock</span></p>
				<button x-data x-on:click="$store.userCart.add(@JsonSerializer.Serialize(Model))" type="button" class="btn btn-primary">Buy now</button>
			</div>
		</div>
	</div>
</div>

