@model IEnumerable<basitsatinalimuyg.Entities.Address>



@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="h3 mb-4 text-gray-800">Addresses</h1>
<div class="card shadow mb-4 ">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Addresses</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>AddressTitle</th>
            <th>AddressLine</th>
            <th>City</th>
            <th>Country</th>
            <th>PostalCode</th>
            <th>CreatedAt</th>
            <th>UpdatedAt</th>
            <th>Operation</th>
          </tr>
        </thead>
        <tbody>
          @foreach (var address in Model)
          {
            <tr>
              <td>@address.Id</td>
              <td>@address.UserId</td>
              <td>@address.AddressTitle</td>
              <td>@address.AddressLine</td>
              <td>@address.City</td>
              <td>@address.Country</td>
              <td>@address.PostalCode</td>
              <td>@address.CreatedAt</td>
              <td>@address.UpdatedAt</td>
              <td>
                <div class="d-flex align-items-center justify-content-center">
                  <div class="dropdown no-arrow">
                    <button class="dropdown-toggle w-100 cnt-shopping text-white" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" asp-action="Edit" asp-controller="AdminAddress" asp-route-id="@address.Id">
                        <i class="fa-regular fa-pen-to-square  me-2"></i>Edit
                        User</a>
                      <a class="dropdown-item" asp-controller="AdminAddress" asp-action="Delete"
                        asp-route-id="@address.Id"><i class="fa-solid fa-ban me-2" style="color: #d02525;"></i>Delete User
                      </a>

                    </div>
                  </div>
                </div>
              </td>
            </tr>

          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function getQueryParam(name) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
  }
  function setSearchBoxValue() {
    const searchBody = document.getElementById('dataTable_filter');
    const searchBox = searchBody.getElementsByTagName('input')[0];
    const searchTerm = getQueryParam('search');

    if (searchTerm !== null) {
      searchBox.value = searchTerm;
      searchBox.dispatchEvent(new Event('input'));


    }
  }

  window.onload = setSearchBoxValue;
</script>